.pdf-viewer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: #f0f0f0;
}

.pdf-viewer {
    display: inline-block;
    max-width: 100%;
}